/*Fonts*/
@import url('https://fonts.googleapis.com/css?family=Merienda:700|Montserrat&display=swap');

/*Colors*/

:root {
    --color-1: #5B79B0;
    --color-2: #B8D1FF;
    --color-3: #9DBFFD;
    --color-4: #B0904A;
    --color-5: #FCDE9D;
}

/*Fonts on tags*/
h1, h2, h3, h4, h5, h6, a {
    font-family: 'Merienda', sans-serif;
}

h1 {
    font-size: 50px;
    text-align: center;
    color: var(--color-3);
    text-shadow: 3px 3px 2px var(--color-1);
}

h2, h3, h4, h5, h6 {
    color: var(--color-5);
    text-shadow: 2px 1px var(--color-4);
}

p, li {
    font-family: 'Montserrat', cursive;
    line-height: 1.8rem;
    text-align: justify;
}

/*Holberotn organization*/
body {
    display: flex;
    flex-direction: column;
}

main {
    display: flex;
    flex-direction: row;
    flex: auto;
}

article {
    flex: 2;
}

aside {
    flex: 1;
    overflow-y: auto;
}

/*Header image*/
header {
    background: linear-gradient(to right, var(--color-4) ,rgba(0,0,0,0) 70%,rgba(0,0,0,0)), url(images/wonders.jpg) no-repeat bottom right; 
    background-size: cover, 320px;
    height: 80px;
}
header > div:not(:first-child) {
    display: flex;
    height: 80px;
}
@media (max-width: 800px) {
    header > div:not(:first-child) {
	display: block;
	height: auto;
    }
}

/*Footer alignment*/
footer {
    text-align: center;
}

/*Logo*/

/*Social buttons*/
.right {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

@media (max-width: 800px) {
    .right {
	flex-direction: row;
	justify-content: flex-start;
    }
    
}

/*Navigation bar*/
header ul.navbar {
    align-self: center;
    line-height: 36px;
}

header li {
    position: relative;
    float: left;
}

.navbar > li > a {
    display: inline-block;
    padding: 0px 20px;
    margin: 0px;
}

.navbar > li:not(.logo) > a:hover, .drop:hover .button {
			  background-color: var(--color-1);
			  color: var(--color-3);
		      }

li.drop {
    display: inline-block;
}

.content {
    display: none;
    position: absolute;
    background-color: var(--color-5);
    min-width: 120px;
}

.content a {
    padding: 5px;
    margin: 0;
    display: block;
    text-align: left;
}

.content li:hover {
    background-color: var(--color-2);
}

.drop:hover .content {
    display: flex;
    flex-direction: column;
}

/*Responsive nav*/
.dropmenu {
    background-color: var(--color-2);
}    

.navbar .dropmenu {
    display: none;
}

@media (max-width: 800px) {
    .navbar > li:not(:first-child), .drop {display: none;}
    
    .navbar li.dropmenu {
	display: block;
	float: right;
    }

    .navbar.responsive {position: relative;}
    .navbar.responsive .dropmenu {
	position: absolute;
	right: 0;
	top: 0;
    }
    
    .navbar.responsive > li {
	float: none;
	display: block;
	background-color: var(--color-3);
	padding: 10px 0;
    }

    .navbar.responsive > li > a {width:100%}
    .navbar.responsive .drop {float: none;}
    .navbar.responsive .content {position: relative;}
    .navbar.responsive .drop .button {
	display: block;
	width: 100%;
    }
}

/*Images*/
div.div-image {
    margin: 20px auto;
}

.web-image {
    display: block;
    width: 90%;
    margin: 0 auto;
    border-radius: 10px;
    cursor: pointer;
}

img.small {
    border: 1px dashed gray;
    border-radius: 5px;
    padding: 5px;
}

img.small:hover {
    border: 1px solid #FFF;
    box-shadow: 2px 3px 5px gray;
}

cite a.cite-image {
    color: gray;
    font-size: 12px;
    font-family: 'Montserrat', cursive;
    display: block;
    margin-top: 5px;
    text-align: center;
    text-decoration: none;
}

cite a.cite-image:hover {
    text-decoration: underline;
}

/*Wonders page*/
div.wonders-button {
    display: block;
    width: 90%;
    margin: 10px auto;
    background: var(--color-1);
    border-radius: 20px;
    border: 5px solid var(--color-1);
}

div.wonders-button a {
    display: block;
    margin: auto;
    text-align: center;
    text-decoration: none;
    color: var(--color-5);
    font-size: 1.5rem;
    padding: 15px;
}

div.wonders-button:hover {
    background: var(--color-5);
}

div.wonders-button a:hover {
    color: var(--color-1);
}

/*Guide page*/
div.guides {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 10px;
}

div.guides div {
    margin: 20px;
}

div.guides div a {
    padding: 10px;
    background-color: var(--color-1);
    color: var(--color-2);
    text-decoration: none;
    border: 2px solid var(--color-1);
    border-radius: 4px;
}

div.guides div a:hover {
    background-color: var(--color-2);
    color: var(--color-1);
}

iframe#iframe-guide {
    width: 100%;
    height: 500px;
    border: 2px solid var(--color-1);
}

/*Tweets page*/
#tweets {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/*Ancient page*/
.wonders-table {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.wonder {
    width: 45%;
    border: 1px solid #CCC;
    border-radius: 10px;
    box-shadow: 3px 3px 5px #DDD;
    margin: 10px 0;
    height: 300px;
}

.wonder img {
    border-radius: inherit;
    height: 70%;
    width:100%;
    object-fit: cover;
    cursor: pointer;
}

.wonder img:hover {
    opacity: 0.5;
}

.wonder h3, .wonder h4 {
    display: block;
    margin: 0;
    font-family: "Montserrat", cursive;
    text-align: center;
}

.wonder h3 {
    font-size: 20px;
}

.wonder h4 {
    font-size: 15px;
    color: var(--color-2);
    text-shadow: 1px 1px var(--color-1);
}

.wonder div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 20%;
}

@media (max-width: 800px) {
    .wonder {
	width: 90%;
    }
}

/*Modal image*/
.modal-content {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    padding-top: 2% ;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background: rgba(0,0,0,0.8);

    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.modal-info {
    display: flex;
    flex-direction: column;
    width: 90%;
    height: 90%;
}

.modal-image {
    margin: auto;
    display: block;
    width: 100%;
    max-width: 900px;
    max-height: 80%;
    object-fit: contain;
}

.close-button {
    position: absolute;
    top:0;
    right: 20px;
    font-size: 50px;
    cursor: pointer;
    margin: 20px;
    color: #DDD;
}

.wonder-name {
    color: white;
    font-size: 40px;
    text-align: center;
    padding: 20px 0;
}

.wonder-ubication {
    color: white;
    font-size: 30px;
    text-align: center;
}